body {
	margin: 0;
	padding: 0;
	line-height: 1.6;
	letter-spacing: 1px;
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #333;
	background: #fff;
}

table {
	text-align: center;
	margin: 0 auto;
}

#top {
	width: 780px;
	margin: 30px auto;
	border: 1px solid #333;
}

#s-top {
	width: 600px;
	margin: 50px auto;
	border-bottom: 1px solid #333;
}

#header {
	width: 100%;
	height: 80px;
	background-color: black;
}

#s-header {
	width: 100%;
	height: 100px;
	background-color: blue;
}

#main {
	width: 100%;
	height: 500px;
	text-align: center;
}

#s-main {
	width: 100%;
	height: 500px;
	text-align: center;
}

#footer {
	width: 100%;
	height: 80px;
	background-color: black;
	clear: both;
}

#text-center {
/* 	display: inline-block; */
	text-align: center;
}

#item {
	position: relative;
	float: left;
	width: 15%;
	margin-left: 300px;
	border: 1px solid #555555;
	padding: 15px;
}

#user {
	position: relative;
	float: right;
	margin-right: 300px;
	width: 15%;
	border: 1px solid #555555;
	padding: 15px;
}

#title #box {
	position: absolute;
	top: -20px;
	left: 80px;
	font-size: 100%;
	padding: 0.5em;
	background: #ffffff;
}

#text-right {
	display: inline-block;
	text-align: right;
}